@import url("https://fonts.googleapis.com/css2?family=Anta&family=Audiowide&family=Cal+Sans&family=Caveat:wght@400..700&family=Jockey+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Passero+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Tektur:wght@400..900&display=swap");
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

.brand-font {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}